.exercise-card {
width: 100%;
max-width: 1200px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
border-radius: 12px;
border: 1px solid #e0e0e0;
background: #ffffff;
}


.exercise-info {
display: flex;
flex-direction: column;
gap: 6px;
}


.exercise-header {
display: flex;
align-items: center;
gap: 10px;
color: #000000
}


.info-icon {
font-size: 20px;
cursor: pointer;
}


.exercise-description {
color: #555;
margin: 0;
}


.exercise-category {
font-weight: 500;
color: #333;
}


.exercise-image {
width: 130px;
height: 130px;
object-fit: cover;
border-radius: 8px;
background: #f3f3f3;
}